<div class="container">
    <div class="row justify-content-md-center">
        <h1 class="text-center">Planilla de desaprobados</h1>
    </div>
    <div class="row">
        <div class="col mt-4">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Legajo</th>
                        <th>Nombre y Apellido</th>
                        <th>Primer Examen</th>
                        <th>Segundo examen</th>
                        <th>Promedio</th>
                    </tr>
                </thead>
                <tbody style="background-color: antiquewhite;">
                    <tr *ngFor="let disapprovedStudent of disapprovedStudentsList; let i = index">
                        <td>{{disapprovedStudent.docket}}</td>
                        <td>{{disapprovedStudent.name + " " + disapprovedStudent.surname}}</td>
                        <td>{{disapprovedStudent.firstExam}}</td>
                        <td>{{disapprovedStudent.secondExam}}</td>
                        <td>{{disapprovedStudent.average}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>