<div class="container">
    <div class="row justify-content-md-center">
        <h1 class="text-center">Alumnos</h1>
    </div>

    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Ficha del alumno</div>
                    <div class="form-group">
                        <input type="number" [(ngModel)]="selectedStudent.docket" placeholder="Legajo" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="selectedStudent.name" placeholder="Nombre" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="selectedStudent.surname" placeholder="Apellido" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <input type="number" [(ngModel)]="selectedStudent.dni" placeholder="DNI" class="form-control" required>
                    </div>
                    <div class="form-group row">
                        <label for="estado" class="col-sm-3 col-form-label">Estado:</label>
                        <div class="col-sm-9">
                            <select name="estado" [(ngModel)]="selectedStudent.status" class="form-control" required>
                                <option *ngFor="let status of statusList; let i = index" value="{{status.name}}">{{status.name}}</option>
                            </select>
                        </div>
                    </div>
                    <button *ngIf="!show" (click)="addStudent()" class="btn btn-primary">Guardar</button>
                    <button *ngIf="show" (click)="editStudent()" class="btn btn-primary">Guardar</button>
                    <button *ngIf="show" (click)="cancelEditStudent()" class="btn btn-warning">Cancelar</button>
                </div>
            </div>
        </div>        
    </div>
    <div class="row">
        <div class="col mt-4">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Legajo</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>DNI</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody style="background-color: antiquewhite;">
                    <tr *ngFor="let student of studentsList; let i = index">
                        <td>{{student.docket}}</td>
                        <td>{{student.name.toUpperCase()}}</td>
                        <td>{{student.surname.toUpperCase()}}</td>
                        <td>{{student.dni}}</td>
                        <td>{{student.status}}</td>
                        <td>
                            <a (click)="openEditStudent(i)" class="btn btn-success">
                            Editar
                            </a>
                            <a (click)="deleteStudent(i)" class="btn btn-danger">
                            Eliminar
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>