<div class="container">
    <div class="row justify-content-md-center">
        <h1 class="text-center">Estados</h1>
    </div>
    
    <div class="row">
        <div class="col-md-6 mt-4">
            <ul class="list-group">
                <li class="list-group-item list-group-item-action" (click)="openEdition(status, i)" [class.active]="status == selectedStatus" *ngFor="let status of statusList; let i = index"><span class="badge badge-primary">{{i+1}}</span>
                   - {{status.name.toUpperCase()}}
                </li>
            </ul>          
        </div>
        <div class="col-md-6">
            <div class="card mt-4">
                <div class="card-body">
                    <div class="card-title">Estado</div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="selectedStatus.name" placeholder="Estado" class="form-control" required>
                    </div>
                    <button *ngIf="!show" (click)="addStatus()" class="btn btn-primary">Guardar</button>
                    <button *ngIf="show" (click)="editStatus()" class="btn btn-primary">Guardar</button>
                    <button *ngIf="show" (click)="deleteStatus()" class="btn btn-danger">Eliminar</button>
                    <button *ngIf="show" (click)="cancelEditStatus()" class="btn btn-warning">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>