<div class="container">
    <div class="row"> 
        <div class="col-sm-8">
            <h1 class="text-center">
                Estados
            </h1>
        </div>
        <div class="col-sm-4">
            <div class="alert alert-success alert-dismissable" *ngIf="msg">
                <a href="#" class="close" (click)="closeAlert()">
                    &times;
                </a>
                {{msg}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-4">
            <ul class="list-group">
                <li class="list-group-item list-group-item-action" (click)="openEdition(status)" [class.active]="status == selectedStatus" *ngFor="let status of statusList"><span class="badge badge-primary">{{status.id}}</span>
                    {{status.code}} - {{status.name}}
                </li>
            </ul>          
        </div>
        <div class="col-md-6">
            <div class="card mt-4">
                <div class="card-body">
                    <div class="card-title">Estado</div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="selectedStatus.code" placeholder="Codigo" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="selectedStatus.name" placeholder="Estado" class="form-control">
                    </div>
                    <button (click)="addOrEditStatus()" class="btn btn-primary">Guardar</button>
                    <button *ngIf="existStatus(selectedStatus) == true" (click)="deleteStatus()" class="btn btn-danger">Eliminar</button>
                    <button *ngIf="existStatus(selectedStatus) == true" (click)="cancelEditStatus()" class="btn btn-warning">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>