/* You can add global styles to this file, and also import other style files */
body {
    /*background: #757F9A;   
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  
    background: linear-gradient(to right, #D7DDE8, #757F9A); */
    background: #7F7FD5; 
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
}

.app {
    width: 100%;
    margin-top: 3em;
    padding-top: 1em;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}